.main-chat__message--list--article{data: {message: {id: message.id}}}
  .main-chat__message--list--article--head 
    .main-chat__message--list--article--head--name 
      = message.user.name
    .main-chat__message--list--article--head--date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main-chat__message--list--article--text
    - if message.content.present?
      = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
