.side-bar__user--name
  .side-bar__user--name--ingredients
    .side-bar__user--name--ingredients--name
      masa
    .side-bar__user--name--ingredients--icons
      = link_to "#" ,class:'icons' do
        <i class="fas fa-edit icon"></i>
      = link_to "#" ,class:'icons' do
        <i class="fas fa-cog icon"></i>
.side-bar__group--list
  .side-bar__group--list--package
    .side-bar__group--list--package--groupname
      techcamp
    .side-bar__group--list--package--new
      まだメッセージがありません